.container-form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 2em;
}

.titulo-form{
    font-size: 24px;
    font-weight: 600;
    margin: 0 auto;

}

.form-adiciona{

    margin: 0 auto;
    padding: 2em 0;
    width: 60%;

}

.form-adiciona2{

    margin: 0 auto;
    padding: 2em 0;
    width: 60%;

}



.label{
    padding: 0;
    text-align: center;
    margin: 0 auto;


}

.campo{
    width: 100%;
    text-align: center;
    margin: 0.75em auto;
    padding: 0.4em 0;
    border-radius: 10px;
    border:none;
}

.botao_bto-principal{
    background-color: var(--verde);
    color: var(--branco);
    font-size: 18px;
    font-weight: 400;
    margin: 1em auto;
    border:none;
    border-radius: 8px;
    height: 35px;
    width: 140px;
    
}

.botao_bto-principal:hover{
    background-color: var(--verde-claro);
    color: var(--branco);
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    margin: 1em auto;
    border:none;
    border-radius: 8px;
    height: 35px;
    width: 140px;

}


.adiciona-exercicio{

    background: var(--verde);
    border-style: none;
    border-radius: 8px;
    color: var(--branco);
    font-weight: 400;
    height: 22px;
    margin-bottom: 1.5em; 
    width: 80px;


}

.adiciona-exercicio:hover{

    background: var(--verde-claro);
    font-weight: 600;
    cursor: pointer;
  


}