.container{
    display: flex;
    flex-direction: column;
}

.titulo__nome{
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin: 2em auto;
        
}


.titulo__nome-2{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin: 0 auto;
       

}


