table {

    font-family: 'Inter';
    margin: 2em auto;
    width: 90%;
}


thead {
    background-color: #a9a9a994;
}

table th {

    color: var(--branco);
    text-align: center;


}

th, td {
    border: 2px solid #FFFFFF;
    text-align: center;
    color: var(--branco);

}

::placeholder {
    font-family: 'Inter';
}

input{
    font-family: 'Inter';
}

@media screen and (max-width: 730px) {

    table{
        font-size: 12px;
        margin: 2em auto;
    }

    
}